/* global settings -- start*/

* {
    box-sizing: border-box;
    background-color: #202124;
    color: white;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    text-align: center;
}

*::selection{
    background-color: unset;
}

html, body {
    margin: 0;
}

/* global settings -- end */

/* key frame -- start */

main {
    position: fixed;
    display: flex;
    width: 100vw
}

.pinned-person {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(72vw, 158vh);
}

div.image-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    width: 30%;
    height: auto;
    max-width: 160px;
}


.pinned-person div.image-container img{
    width: 100%;
    background-color: white;
}

#pinned-person-img {
    position: absolute;
    display: flex;
    align-items: center;
    left: 1rem;
    bottom: 0.3rem;
    width: 4.3rem;
    height: 2.65rem;
}

div.other-member{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: max(28vw, 100vw - 158vh);
    height: calc(100vh - 5rem);
}

div.member {
    position: relative;
    background-color: #3c4043;
    width: max((28vw - 1.6rem)/2, (100vw - 158vh - 1.6rem)/2);
    height: 10.5vw;
    border-radius: 0.6rem;
    margin: 0.4rem;
}

#last-person {
    width: 20vw;
}


span.mic_off {
    position: absolute; 
    background-color: #34373a;
    padding: 0.28rem;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    border-radius: 50%;
}

.pinned-person span.mic_off {
    top: 2rem;
    background-color: transparent;
}

.pinned-person .unpin {
    width: 55%;
    background-color: transparent;
}



.image-container img {
    width: 160%;
}

.pinned-person .member-container {
    width: 100%;
    height: calc(100% - 2.65rem);
}

.other-member .member-container {
    height: calc(100% - 1rem);
    background-color: transparent;
}

.member-container .member-function {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8.1rem;
    height: 2.7rem;
    border-radius: 1.4rem;
    background-color: #3c4043;
    opacity: 0;
    z-index: 1;
    transition: 0.4s linear;
}

.member-function .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 1.4rem;
    color: #d1d3d6;
    pointer-events: auto;
}

.member-container .member-function span img {
    width: 60%;
    background-color: transparent;
}

.member-container .member-function .icon:hover {
    background-color: #434649;
    cursor: pointer;
}

.member-container:hover .member-function {
    opacity: 0.6;

}

.member-container:hover .member-function:hover {
    opacity: 0.9;
}


.member-function .disabled {
    color: #717376;
}

.member-container:hover .member-function:hover .disabled:hover{
    cursor: default;
    background-color: transparent;
    opacity: 1;
}


.name {
    position: absolute;
    bottom: 0.37rem;
    left: 0.3rem;
    width: 100%;
    text-align: left;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 0.92rem;
}

/* key frame -- end */

/* bottom of the screen -- start */

footer {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    bottom: 0;
    flex-grow: 1;
}


.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 14rem;
}

.left img{
    height: 2.15rem;
}

.center, .right {
    display: flex;
    width: 17rem;
    align-items: center;
    justify-content: center;
}

.right {
    width: 12rem;
    margin: 0 2rem 0 0;
}

.function-buttons{
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    background-color: inherit;
}

.function-buttons label{
    position: absolute;
    left:0;
    top:0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #3c4043;
    z-index: 1;
    /* we do not want the label change when the description is hovered so we set the
    pointer event of the label to be none and only set the pointer event of the icons to be auto  */
    pointer-events: none; 
}

.pointer-event {
    pointer-events: auto;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.right label {
    background-color: inherit;
}

.function-buttons label:hover {
    cursor: pointer;
    background-color: #434649;
}

.right label:hover {
    background-color: #28292c;
}

#hang_up-container {
    width: 3.5rem;
}

#hang_up {
    width: 3.5rem;
    border-radius: 35% / 50%;
    background-color: #ea4335;
}

.function-buttons input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.function-buttons span.member-num {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f6368;
    font-size: 0.6rem;
    top: 3%;
    left: 73%;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
}

.material-icons.mic {
    font-size: 20px;
}

.video{
    font-variation-settings: 'wght' 300, 'opsz' 10
}

.present{
    font-variation-settings: 'wght' 600, 'opsz' 48
}

span.off {
    display: none;
}


.switch input:checked + label {
    background-color: #ea4335;
}

.switch input:checked + label:hover, #hang_up:hover {
    background-color: #ea5044;
}

.switch input:checked + label .off  {
    display: block;
}

.function-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: inherit;
}

/* the description is transparent and very small when the label is not hovered */
span.description, span.description_open {
    position: absolute;
    background-color: #3c4043;
    top: -65%;
    left: 50%;
    white-space: nowrap;
    padding: 0.25rem 0.6rem;
    border-radius: 0.3rem;
    transform: translateX(-50%) scale(0.1);
    font-size: 12px;
    opacity: 0;
    transition: all 0.06s linear 0.4s; 
    z-index: 2;
}


/* bottom of the screen -- end */

/* settoing the position of the description of the icons of the member functions */
.member-function span.description {
    top: 105%;
}

.member-function span.description.left-description {
    left: 16.67%
}

.member-function span.description.right-description {
    left: 86.67%
}

/* when the description is hovered, the backgroud of the label and the cursor are not changed */
label:hover .description,
input:checked + label:hover .description_open, 
.member-container:hover .icon:hover + .description {
    cursor: default;
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

/* RWD  -- start */

/* the time disappear when the screen shrinks*/
@media (max-width: 1492px) or (max-height: 680px) {
    #time {
        display: none;
    }

    #meeting-code {
        margin-left: 0.8rem;
    }
}   


@media (max-aspect-ratio: 46 / 25) {
    .pinned-person {
        width: 82vw;
    }

    div.other-member{
        display: flex;
        width: max(18vw, 100vw - 158vh);
    }
    
    div.member {
        width: max(18vw - 1.5rem, 100vw - 158vh - 1.5rem);
        height: calc((100vh - 10rem) / 5);
    }
}

@media (max-aspect-ratio: 8 / 5) {
    main {
        flex-direction: column;
    }

    .pinned-person {
        width: 100vw;
        height: calc((100vh - 5rem - 17vw))
    }

    div.other-member{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 18vw;
    }
    
    div.member {
        width: 17vw;
        height: 15vw;
    }
}

@media (max-aspect-ratio: 1 / 1) {
    .pinned-person {
        height: calc((100vh - 6rem - 34vw))
    }

    div.other-member{
        height: 34vw;
    }
    
    div.member, #last-person {
        width: calc((100vw - 3rem) / 3);
        height: 15vw;
    }
}

@media (min-aspect-ratio: 5 / 2) {
    .pinned-person {
        width: 150vh;
    }

    div.other-member{
        width: calc(100vw - 150vh);
    }

    div.member, #last-person{
        width: calc((100vw - 150vh - 3rem)/3);
        height: calc((100vh - 7rem)/2);
    }

}

/* RWD  -- end */
